/*https://getbootstrap.com/docs/5.0/layout/breakpoints/*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
     #cuerpo{
         background-color: aqua;
     } }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #cuerpo{
        background-color: blue;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #cuerpo{
        background-color: brown;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #cuerpo{
        background-color:crimson;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    #cuerpo{
        background-color: yellow;
    }
}